<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.OrderMapper" >
    <select id="findOrder" resultType="OrderEntity">
        select o.*,p.pay_name payName from t_order o
            LEFT JOIN t_pay p on o.order_pay=p.pay_id
    </select>

    <insert id="addOrder" parameterType="OrderEntity">
        insert into t_order(order_number,order_name,create_time,order_price,order_pay) values(#{orderNumber},#{orderName},#{createTime},#{orderPrice},#{orderPay})
    </insert>

    <delete id="deleteById" parameterType="int">
        delete from t_order where order_id = #{orderId}
    </delete>

    <select id="findById" parameterType="int" resultType="OrderEntity">
        select * from t_order where order_id = #{orderId}
    </select>

    <update id="updateOrder" parameterType="OrderEntity">
        update t_order set order_Number = #{orderNumber},order_name=#{orderName},create_time=#{createTime},
        order_price=#{orderPrice},order_pay=#{orderPay} where order_id=#{orderId}
    </update>
</mapper>