<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstarp/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstarp/bootstrap-table.css}" />
</head>
<body>
    <div class="container">
        <h1>新增订单</h1>
        <form class="form-horizontal" th:action="@{/add}" method="post">
            <input type="hidden" name="orderId" th:value="${order.orderId}">
            <div class="form-group">
                <label for="orderName" class="col-sm-2 control-label">订单名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="orderName"  id="orderName" placeholder="订单名称" th:value="${order.orderName}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="orderNumber" class="col-sm-2 control-label">订单编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="orderNumber"  id="orderNumber" placeholder="订单编号" th:value="${order.orderNumber}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="createTime" class="col-sm-2 control-label">订单时间</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="createTime"  id="createTime" placeholder="订单时间" th:value="${order.createTime}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="orderPrice" class="col-sm-2 control-label">订单价格</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="orderPrice"  id="orderPrice" placeholder="订单价格" th:value="${order.orderPrice}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="orderPay" class="col-sm-2 control-label">支付方式</label>
                <div class="col-sm-10">
                    <!--<input type="text" class="form-control" name="orderPay"  id="orderPay" placeholder="支付方式" th:value="${order.orderPay}"/>-->
                    <select th:field="${order.orderPay}" th:value="${order.orderPay}" name="orderPay" lay-verify="required">
                        <option value="">请选择支付方式</option>
                        <option th:selected="${order.orderPay==1}" value="1">微信</option>
                        <option th:selected="${order.orderPay==2}" value="2">支付宝</option>
                        <option th:selected="${order.orderPay==3}" value="3">银行卡</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="提交" class="btn btn-info" />
                    <a th:href="@{/orderList}" class="btn btn-info">返回</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>