<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstarp/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstarp/bootstrap-table.css}" />
</head>
<body>
    <div class="container">
        <h1>订单列表</h1>
        <div class="text-left">
            <a class="btn btn-info" th:href="@{toAdd}">新增</a>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>订单编号</th>
                    <th>订单名称</th>
                    <th>订单时间</th>
                    <th>订单价格</th>
                    <th>支付方式</th>
                    <th>删除</th>
                    <th>修改</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orderList}">
                    <td th:text="${order.orderId}"></td>
                    <td th:text="${order.orderNumber}"></td>
                    <td th:text="${order.orderName}"></td>
                    <td th:text="${order.createTime}"></td>
                    <td th:text="${order.orderPrice}"></td>
                    <td th:text="${order.payName}"></td>
                    <td>
                        <a th:href="@{/del(orderId=${order.orderId})}">删除</a>
                    </td>
                    <td>
                        <a th:href="@{/findById(orderId=${order.orderId})}">修改</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>